.header {


     &__box {
          height: 22rem;
          background-image: linear-gradient(
               to bottom, 
               $color-white, 
               $color-primary-light);
     }

     &__content {
          justify-content: space-between;
          align-items: center;
          padding-top: 3rem;
     }

     &__logo {
          height: 16rem;
     }

     &__items {
          align-items: center;

          &--search-form {
               margin-right: 5rem;
          }

          &--img {
               height: 3rem;
               margin-right: 2.5rem;
          }

          &--nav {

              

               a {
                    transition: all .4s;

                    &:hover {
                    transform: scale(1.2);
               }
               }

               
          }
     }  
          

     .nav {
          background-color: $color-primary;
          height: 5.5rem;

          &__menu {
               list-style-type: none;
               height: 100%;
               margin: 0 auto;
               justify-content: space-between;

               &--item {
                    padding: 0 5rem;
                    cursor: pointer;
                    height: 100%;
                    position: relative;
                    width: 12%;
                    transition: all .5s;

                    a {
                         display: block;
                         width: 100%;
                         position: absolute;
                         left: 0;
                         right: 0;
                         top: 50%;
                         transform: translateY(-50%);
                         color: $color-black;
                         font-weight: 500;
                         text-transform: uppercase;
                    }

                    &:hover {
                         background-color: rgba($color-primary-light, .3);
                    }
               }
          }

          &__submenu {
               display: none;
          }
     }

     &__message {
          background-color: $color-primary-light;
          position: relative;

          p {
               padding: 3rem 0;
               color: $color-secondary-dark;
               font-family: $title-font;
               font-weight: bold;
               font-size: 2rem;
               position: relative;
          }

          &--close {
               position: absolute;
               right: 2rem;
               top: 50%;
               transform: translateY(-50%);
               cursor: pointer;
               font-family: $title-font;
               font-weight: bold;
               color: $color-secondary-dark;
          }
     }
} 