.header {

     &__box {
          height: 22rem;
          background-image: linear-gradient(
               to bottom, 
               $color-white, 
               $color-primary-light);
     }

     &__content {
          justify-content: space-between;
          align-items: center;
          padding-top: 3rem;

          @include  responsive(desktop) { 
               padding-top: 5rem;
           }

          @include  responsive(tablet) { 
               display: block;  
               position: relative; 
          }
     }

     &__logo {
          height: 16rem;

          @include  responsive(desktop) { 
               height: 10rem;    
          }
               
          @include  responsive(tablet) { 
               height: 8rem;    
               @include position;
          }
     }

     &__items {
          align-items: center;

          @include  responsive(tablet) { 
               display: block;
       }

          &--search-form {
               margin-right: 5rem;


               @include  responsive(tablet) { 
                    position: absolute;
                    left: 2.5%;
                    bottom: -180%;
            }
          }

          &--img {
               height: 3rem;
               margin-right: 2.5rem;

               @include  responsive(desktop) { 
                    height: 2rem;
                    margin-right: 2rem;
            }
          }

          &--nav {


               @include  responsive(tablet) { 
                    position: absolute;
                    right: 0%;
                    top: 75%;
               }  

               a {
                    transition: all .4s;

                    &:hover {
                    transform: scale(1.2);
                    }
               }

               
          }
     }  
          

     .nav {
          background-color: $color-primary;
          height: 5.5rem;

          &__menu {
               list-style-type: none;
               height: 100%;
               margin: 0 auto;
               justify-content: space-between;

               &--item {
                    font-size: $small-size;
                    padding: 0 5rem;
                    cursor: pointer;
                    height: 100%;
                    position: relative;
                    width: 12%;
                    transition: all .5s;

                    @include  responsive(desktop) { 
                         font-size: $xsmall-size;
                         padding: 0 2.5rem;
                     }

                    

                    a {
                         display: block;
                         width: 100%;
                         position: absolute;
                         left: 0;
                         right: 0;
                         top: 50%;
                         transform: translateY(-50%);
                         color: $color-black;
                         font-weight: 500;
                         text-transform: uppercase;
                    }

                    &:hover {
                         background-color: rgba($color-primary-light, .3);
                    }
               }
          }

          &__submenu {
               display: none;
          }
     }

     &__message {
          background-color: $color-primary-light;
          position: relative;

          p {
               padding: 3rem 0;
               color: $color-secondary-dark;
               font-family: $title-font;
               font-weight: bold;
               font-size: 2rem;
               position: relative;

               @include  responsive(desktop) { 
                    font-size: $small-size;
                    padding: 2rem 0;
            }
          }

          &--close {
               position: absolute;
               right: 2rem;
               top: 50%;
               transform: translateY(-50%);
               cursor: pointer;
               font-family: $title-font;
               font-weight: bold;
               color: $color-secondary-dark;

               @include  responsive(desktop) { 
                    font-size: $small-size;
            }
          }
     }
} 

#wprmenu_bar {
     @include  responsive(tablet) { 
          background-color: $color-transparent;
  }
}

#wprmenu_menu_ul {
     @include  responsive(tablet) { 
          padding-top: 35%;
          margin-left: 50%;
          transform: translateX( -50%);
          text-align: center;
          color: $color-primary-light;
          
          a {
               transition: all .3s;

               &:hover {
               background-color: $color-primary;
               color: $color-primary-dark;
          }
          }
          
  }
}

.hamburger-box {
     margin-top: 5rem;
}

#wprmenu_bar {
     margin-top: 5rem;
     width: 8rem;
}

