@import "./variables";

*,
::after,
::before {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
}

html {
        font-size: 62.5%; // 1rem = 10 px
}

body {
        box-sizing: border-box;
        color: rgba($color-black, .5);
}

a {
        text-decoration: none;
}