@mixin position {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
}

@mixin contour {
     content: '';
     display: block;
     width: 100%;
     height: 100%;
     position: absolute;
     right: -2.5rem;
     bottom: -2.5rem;
     border: 1px solid $color-primary;
     z-index: -1;
}

@mixin responsive($mymedia){
     @if $mymedia == phone {
             @media (max-width: 600px) { @content};
     }
     @if $mymedia == tablet {
             @media (max-width: 900px) { @content};
     }
     @if $mymedia == desktop {
             @media (max-width: 1200px) { @content};
     }
     
}