@import "./variables";

body {
     font-family: $text-font;
     font-size: 1.8rem;
     font-weight: 400;
}

h1, h2, h3,
h4, h5, h6 {
     font-family: $title-font;
     color: $color-primary-dark;
     text-transform: uppercase;
}

a {
     color: inherit;
}

p {
     text-align: justify;
}

.p-light {
     color: $color-white;
}

.p-dark {
     color: $color-primary-dark;
     font-weight: 500;
     font-size: 1.4rem;
}

.p-big {
     font-size: 9rem;
     color: $color-primary;
     font-weight: 400;
}

.p-member {
     color: $color-white;
     font-size: 2.6rem;
     letter-spacing: 1.3rem;
}

.heading-primary {
     font-size: 5.5rem;
}

.heading-secondary {
     font-size: 3.6rem;
     color: $color-primary;

     &--dark {
          color: $color-primary-dark;
          text-transform: none;
     }

     &--small {
          font-size: 2.8rem;
          text-transform: none;
     }
}

.heading-tertiary {
     color: $color-primary-dark;
     font-size: 2.8rem;
     font-weight: 300;
}

.heading-quaternary {
     color: $color-white;
     font-weight: bold;
     font-size: 2.8rem;
     text-transform: none;

     &--dark {
          color: inherit;
     }
}

.heading-black {
     font-size: 3rem;
     color: $color-black;
}

.heading-rubik {
     font-family: $text-font;
     font-weight: 700;
     color: $color-primary-light;
     text-transform: inherit;
     font-size: 3.6rem;
     text-shadow: 2px 3px 3px rgba($color-black, .6);

     &--light {
          color: $color-white;
          text-shadow: none;
          font-size: 2.8rem;
     }

     &--black {
          text-transform: uppercase;
          color: black;
          font-size: 3rem;
     }
}