.container { 
     width: 60%;
     margin: 0 auto;

     @include  responsive(tablet) { 
          width: 100%;
     }  
}

.container-normal { 
     width: 75%;
     margin: 0 auto;

     @include  responsive(desktop) { 
          width: 100%;
     }  
}

.container-big {
     width: 90%;
     margin: 0 auto;

     @include  responsive(tablet) { 
          width: 100%;
     }  
}

.flex { display: flex;}

.center {text-align: center;}

.align-right { text-align: right;}

.gradient {
     background-image: linear-gradient(to bottom, $color-white 0%, $color-white 70%, $color-primary-light 100%);
}

.u-margin-top-big {margin-top: 6rem;}
.u-margin-top-normal {margin-top: 2.4rem;}
.u-margin-top-small {margin-top: 1.8rem}
.u-margin-top-xsmall {margin-top: 1.2rem}

.u-margin-bottom-big {margin-bottom: 6rem;}
.u-margin-bottom-normal {margin-bottom: 2.4rem;}
.u-margin-bottom-small {margin-bottom: 1.8rem;}
.u-margin-bottom-xsmall {margin-bottom: 1.2rem;}

.u-padding-bottom-normal {padding-bottom: 2.4rem;}
.u-padding-bottom-big {padding-bottom: 6rem;}
