.container { 
     width: 60%;
     margin: 0 auto;
}

.container-big {
     width: 90%;
     margin: 0 auto;
}

.flex { display: flex;}

.center {text-align: center;}

.u-margin-top-big {margin-top: 6rem;}
.u-margin-top-normal {margin-top: 2.4rem;}
.u-margin-top-small {margin-top: 1.8rem}
.u-margin-top-xsmall {margin-top: 1.2rem}

.u-margin-bottom-big {margin-bottom: 6rem;}
.u-margin-bottom-normal {margin-bottom: 2.4rem;}
.u-margin-bottom-small {margin-bottom: 1.8rem;}
.u-margin-bottom-xsmall {margin-bottom: 1.2rem;}
