$color-primary: #D7BB7E;
$color-primary-light: #FEF5DC;
$color-primary-dark: #917A5E;
$color-primary-special: #D1B877;

$color-secondary: #39384F;
$color-secondary-dark: #07043A;

$color-white: #fff;
$color-black: #000;