// Colors

$color-primary: #D7BB7E;
$color-primary-light: #FEF5DC;
$color-primary-dark: #917A5E;

$color-primary-special: #D1B877;
$color-primary-special-light: #FEF5DF;

$color-secondary: #39384F;
$color-secondary-dark: #07043A;

$color-white: #fff;
$color-black: #000;

$color-transparent: transparent;

//Fonts

$default-size: 1.8rem; //18px
$small-size: 1.4rem;
$xsmall-size: 1.2rem;
$title-font: 'Domine', serif;
$text-font: 'Rubik', sans-serif;

//Border-radius

$b-radius: 3px;