.about {
     .heading-tertiary{
          color: $color-primary-dark!important;
     }

     p{
          margin-bottom: 1.8rem;
     }

     .second-section{
          margin-top: 4rem;
     }
}

.reparation__text, .recup__text,
.abonnement__article, .privacy, .condition,
.single-news {

     p {
          padding-bottom: 2.4rem;
     }
}
