.boutique__corporative{
    width: 100%;

    ul.products{
        margin: 0 0 1em;
        padding: 0;
        list-style: none outside;
        clear: both;
    }

    ul.products li.first {
        clear: none;
    }
    
    ul.products li.product{
        float: left;
        margin: 0 3.8% 2.992em 0;
        padding: 0;
        position: relative;
        width: 22.05%;
        margin-left: 0;
        list-style-type: none;
    }

    ul.products li.last{
        margin-right: 0;
    }

    h2{
        padding: .5em 0;
        margin: 0;
        font-size: 1em;
        text-transform: none;
    }

    .price{
        color: #917A5E;
        font-size: 2rem;
    }

    // post du produit membre corporatif
    .add_to_cart_button, .post-257{
        display:none;
    }

    .onsale{
        min-height: 1em !important;
        min-width: 1.236em;
        padding: 5px 15px;
        font-size: 1em;
        font-weight: 700;
        position: absolute;
        text-align: center;
        line-height: 1;
        margin: 1em -1em 0 0;
        right: 0;
        border-radius: 0%;
        background-color: #D1B877;
        color: #fff;
        font-size: .857em;
        z-index: 9;
    }


    .price{
        del{
            color: inherit;
            opacity: .5;
            display: inline-block;
        }

        ins{
            background: 0 0;
            font-weight: 700;
            display: inline-block;
        }
    }
}
