.contact {

     &__header {

          img {
               width: 100%;
          }
     }

     &__content {
          justify-content: space-between;

          @include  responsive(tablet) { 
              display: block;
          }  
     }

     &__coordonne {
          width: 45%;
          border-right: 1px solid $color-primary;

          @include  responsive(tablet) { 
              border: none;
              width: 90%;
          }  
     }

     &__map {
          width: 80%;
          height: 40rem;

          @include  responsive(tablet) { 
               height: 40rem;
          }  
     }

     &__details {
          margin: 0 auto;
          width: 90%;

          &--hours {
               margin: 0 auto;
               width: 70%;
               justify-content: space-between;

               @include  responsive(desktop) { 
                    width: 90%;
               }  
          }
     }

     &__form-section {
          width: 50%;

          @include  responsive(tablet) { 
               width: 120%;
               margin-left: 25%;
          }  
          
          label {
               display: block;
               width: 45%;
          }

     }

     &__form {

          &--item  {
               width: 100%;
               justify-content: space-between;

               div {
                    width: 45%;
               }
          }
     }

     &__input {
          width: 100%;
     }

     &__textarea {
          width: 100%;
     }
}

.wpcf7-form {

     width: 100%;

     label {
          color: $color-primary-dark;
          font-weight: bold;
          font-size: 1.4rem;
     }

     textarea {
          resize: none;
     }

     input, select, textarea {
          border: 1px solid $color-primary;
          border-radius: $b-radius;     
          background-color: rgba($color-primary-light, .6);
          color: $color-primary-dark;
          padding: 1.3rem 2rem;
          margin-bottom: 2rem;
          width: 100%;

          &:focus {
               outline: none;
               box-shadow: 0 0 0 .2rem rgba($color-primary, .7);
          }
     
          &::placeholder {
               color: rgba($color-primary-dark, .5);
               font-family: $text-font;
          }
     }

     input[type=submit] {
          width: 15rem;
          background-color: $color-primary;
          font-family: $title-font;
          text-transform: uppercase;
          font-size: 2rem;
          color: $color-primary-light;
          padding: 1rem 2rem;
          border-radius: $b-radius;
          border: 1px solid $color-primary-dark;
          cursor: pointer;
          transition: all .4s;

          &:hover {
               background-color: $color-primary-dark;
     }
}
}

#text-2 {
     list-style: none;
}

