.index-corpo {

     &__image  {
          position: relative;
          
          img {
               width: 100%;
               z-index: 1;
          }
         
     }

     &__content {
          position: absolute;
          left: 2%;
          top: 2%;
          z-index: 1000;
     }
}