.index-corpo {
     
     &__image  {
          position: relative;
          height: 70rem;
          background-image: url(../img/abonnement-corpo.jpg);
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover;

          img {
               width: 100%;
          }
         
          &::after {
            @include contour;
          }
     }

     &__content {
          position: absolute;
          top: 5%;
          left: 5%;
          width: 50%;

          p {
               text-shadow: 1px 1px 3px rgba($color-black, .8);
          }
     }
}
