.main-blog {

     &__article {
          height: 85rem;

          @include  responsive(desktop) { 
               position: relative;
               width: 90%;
               background: $color-primary-dark;
          }  

          &--text {
               background-color: $color-primary-dark;
               width: 20%;
               position: relative;

               @include  responsive(desktop) { 
                    position: absolute;
                    width: 100%;
                    bottom: 20%;
               }  
          }

          &--description {
               color: $color-primary-light;
               font-style: italic;
               opacity: .8;
               font-weight: 300;
          }
     }

     &__center {
          @include position;
          width: 100%;
          padding: 2.5rem;
     }

     &__image { 
          width: 80%;

          @include  responsive(desktop) { 
               width: 100%;
               height: 50rem;
          }  
     }
}

.p-primary-light {
     color: $color-primary-light;
     text-transform: uppercase;
     font-weight: 300;
     position: relative;

     &::after {
          content:'';
          display: block;
          width: 40%;
          height: 1px;
          background-color: $color-primary-light;
          position: absolute;
          bottom: -3rem;
          left: 50%;
          transform: translateX(-50%);
     }
}

.blog-articles {
     
     &__content {
          justify-content: space-between;
          flex-wrap: wrap;

          @include  responsive(desktop) { 
          justify-content: space-around;
          } 
     }

     &__item {
          width: 30%;
          height: 40rem;
          position: relative;

          @include  responsive(desktop) { 
               width: 45%;
          } 

          @include  responsive(tablet) { 
               width: 60%;
          } 

          @include  responsive(phone) { 
               width: 95%;
          } 

          img {
               width: 100%;
               height: 73%;
               position: relative;
          }

          a {
               transition: all .6s;

               &:hover {
                    color: darken($color-primary, 20%);
               }
          }
     }

     &__text {
          padding: 2.5rem;
          height: 32%;
          background-color: $color-primary;
          position: absolute;
          left: 0;
          bottom: -1rem;
          padding: 1.5rem;

          @include  responsive(phone) { 
               width: 95%;
          } 

          h3{
               font-weight: 500;
          }

          p {
               font-size: 1.4rem;
          }
     }
}

.archives {
     margin-top: 12rem;

     a {

          @include  responsive(phone) { 
               font-size: $xsmall-size;
          } 

          &:hover {
               text-decoration: underline;
          }
     }

     &__content {
          background-color: rgba($color-primary-light, .5);
          position: relative;

          &::before {
               content:'';
               display: block;
               width: 90%;
               height: 1px;
               background-color: $color-primary-dark;
               position: absolute;
               top: 0;
               left: 50%;
               transform: translateX(-50%);
          }

          &--box {
               justify-content: space-evenly;
          }

          &--menu{
               margin: 2.5rem 0;
          }
     }
}    

.single-news {

     @include  responsive(tablet) { 
          padding-left: 3rem;
          padding-right: 3rem;
     } 
}