.promo {

     @include  responsive(tablet) { 
          margin-top: 15rem;
  }

     &__content {
          
          justify-content: space-between;

          @include  responsive(desktop) { 
               flex-wrap: wrap;
       }

          &--item {
               width: 28%;
               height: 44rem;
               position: relative;

               &::after {
                    @include contour;
               }

               @include  responsive(desktop) { 
                    width: 100%;
                    margin-bottom: 5rem;
            }
          }

          button {
               position: absolute;
               bottom: 2rem;
               left: 50%;
               transform: translateX(-50%);
          }
     }

     &__title {
          background-color: $color-primary-special;
          width: 120%;
          height: 5rem;
          padding: .4rem;
          position: absolute;
          left: -4rem;
          top: 2rem;
          
          h4{
               font-size: 3.6rem;
          }

          @include  responsive(desktop) { 
               left: -2rem;
               width: 100%;
       }

          @include  responsive(tablet) { 
               left: 0;
               top: 0;
       }
     }

     &__price {
          display: block;
          width: 100%;
          position: absolute;
          bottom: 7.5rem;
          font-size: 3.5rem;
          text-shadow: 1px 2px 5px rgba($color-black, .6);
          font-weight: 300;

          span {
               padding-right: 1.2rem;
          }

          ins{
               font-weight: 600;
               text-decoration: none;
          }
     }
}
