.reparation {

     &__content {
          justify-content: space-between;
     }

     &__text {
          width: 60%;
          padding-left: 1rem;
          margin-left: 1px solid $color-primary;
     }

     &__img {
          width: 30%;

          &::after {
               @include contour;
          }

          img {
               width: 100%;
          }
     }
}