.menu-category{
    padding-right: 100px;
    width: 21%;

    .all-categories{
        font-family: $text-font;
        font-weight: 500;
        margin-bottom: 0rem;
    }

    ul{
        li{
            list-style-type: none;
        }

        h4{
            margin-bottom: 0.5rem;
        }

        .main-category a{
            font-family: $text-font;
            font-weight: 500;
        }

        .second-sub-category a{
            margin-left: 20px;
        }

        .second-sub-category a::before{
                content: "ㅡ " ;
        }
    }
}
