.woocommerce div.product .woocommerce-product-rating{
        margin-bottom: 0;
}

.content-single-product{
    margin: 1.9rem 0;
}


.woocommerce div.product{
    width: 70%;
    margin: auto;
    margin-top: 8rem;
}
