.live {

    &__recent-embed {
        iframe {
            width: 90rem;
            height: 50rem;

            @include  responsive(tablet) { 
                    width: 80%;
                    height: 35rem;
            }  
           
        }

        &--button, &--description {
            width: 90rem;
            margin: 0 auto;
            text-align: left;

            @include  responsive(tablet) { 
                width: 80%;
        }  
        }

        &--button {

            @include  responsive(tablet) { 
                text-align: center;
            }  
        }
    }
}

.old-live {

    &__banner {
        height: 15rem;
        background-color: rgba($color-primary-light, .5);
        padding: 7rem;
    }


    &__content {
        justify-content: space-between;
        flex-wrap: wrap;

        &--item {
            position: relative;
            width: 44rem;

            @include  responsive(desktop) { 
                margin: 6rem auto;

        }  
        }

        &--date {
            position: absolute;
            width: 100%;
            bottom: -7.5rem;
            height: 8rem;
            border-left: 1px solid $color-primary;
            border-right: 1px solid $color-primary;
            border-bottom: 1px solid $color-primary;
            background-color: rgba($color-primary-light, .5);

                p{
                    font-weight: normal;
                }
            }

            p.description{
                margin-top: 1.4rem;
                text-align: center;
            }
    }

    &__old-embed {

        iframe {
            width: 44rem;
            height: 26rem;
        }
    }
}
