.vogue {
     background-color: rgba($color-primary-light, .5);
     padding: 7rem 0 9rem;

     &__main-content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: rgba($color-primary, .8);
          width: 25%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;

        p {
               text-align: center;
               overflow-wrap: break-word;
               padding: 0 3rem;
               font-weight: 500;
          }

          button{
               align-self: center;
          }
     }

     &__main-product {
          position: relative;
          height: 48rem;
          background-repeat: no-repeat;
          background-position: bottom;
          background-size: cover;

          img{
               width: 100%;
               height: 100%;
          }

          &::after {
               @include contour;
             }
     }

     &__other-product {
          justify-content: space-between;
     }

     &__second-item {
          width: 36%;
          position: relative;
          height: 40rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover;

          &--text {
               text-align: center;
               overflow-wrap: break-word;
               background-color: rgba($color-primary-light, .9);
               height: 25%;
               padding: 1rem 5rem;
          } 

          button{
               align-self: center;
          }

          &::after {
               @include contour;
          }
     }

     &__third-item {
          width: 56%;
          height: 40rem;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-repeat: no-repeat;
          background-position: bottom;
          background-size: cover;

          &--text {
               text-align: center;
               overflow-wrap: break-word;
               background-color: rgba($color-primary-light, .9);
               height: 25%;
               padding: 1rem 5rem;
          } 

          button{
               align-self: center;
          }

          &::after {
               @include contour;
          }
     }
}
