.vogue {
     background-color: rgba($color-primary-light, .5);
     padding: 7rem 0 9rem;

     &__main-content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: rgba($color-primary, .8);
          width: 25%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;

          @include  responsive(desktop) { 
               width: 40%;
       }

          @include  responsive(tablet) { 
               width: 100%;
               background-color: $color-transparent;
       }

        p {
               text-align: center;
               overflow-wrap: break-word;
               padding: 0 3rem;
               font-weight: 500;

               @include  responsive(tablet) { 
                    display: none;
            }
          }

          button{
               align-self: center;

               @include  responsive(tablet) { 
                   align-self: flex-start;
                   margin-left: 2rem;
            }
          }
     }

     &__main-product {
          position: relative;
          height: 48rem;
          background-repeat: no-repeat;
          background-position: bottom;
          background-size: cover;

          img{
               width: 100%;
               height: 100%;
          }

          &::after {
               @include contour;
             }
     }

     &__other-product {
          justify-content: space-between;

          @include  responsive(tablet) { 
               display: block;
          }

          @include  responsive(tablet) { 
               width: 100%;
               background-color: $color-transparent;
       }
     }

     &__second-item {
          width: 36%;
          position: relative;
          height: 40rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover;

          @include  responsive(tablet) { 
               width: 100%;
               height: 48rem;
               margin-bottom: 6rem;
          }

          &--text {
               background-color: rgba($color-primary-light, .9);
               height: 25%;
               padding: 1rem 5rem;

               h4{
                    margin-bottom: 0.8rem;
               }

               p{
                    text-align: center!important;
                    overflow-wrap: break-word;
                    @include  responsive(tablet) { 
                         display: none;
                    }
               }

               @include  responsive(tablet) { 
                    background-color: $color-transparent;
                    padding: 2.5rem 5rem;
               }
          } 

          button{
               align-self: center;

               @include  responsive(tablet) { 
                    align-self: flex-start;
                    margin-left: 2rem;
               }
          }

          &::after {
               @include contour;
          }
     }

     &__third-item {
          width: 56%;
          height: 40rem;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-repeat: no-repeat;
          background-position: bottom;
          background-size: cover;

          @include  responsive(tablet) { 
               width: 100%;
               height: 48rem;
          }

          &--text {
               background-color: rgba($color-primary-light, .9);
               height: 25%;
               padding: 1rem 5rem;
          } 

          h4{
               margin-bottom: 0.8rem;
          }

          p{
               text-align: center!important;
               overflow-wrap: break-word;
               @include  responsive(tablet) { 
                    display: none;
               }
          }
          
          button{
               align-self: center;

               @include  responsive(tablet) { 
                    align-self: flex-start;
                    margin-left: 2rem;
               }
          }

          &::after {
               @include contour;
          }
     }
}
