.wp-post-image {
     width: 100%;
     height: auto;
}

.single-news {

     &__image {
          position: relative;

          &::after {
               @include contour;
          }
     }
}

.widget {
     margin-right: 2rem;
     color: $color-secondary-dark !important;
     
     &_weglot-translate {
          list-style: none;

     }
}

#weglot-translate-2 {

     @include  responsive(desktop) { 
          font-size: $xsmall-size;
     }  

     @include  responsive(tablet) { 
          position: absolute;
          right: -1%;
          top: 25%;
     }  

     a {
          color: $color-secondary-dark;
          transition: all .4s;
       
     }

     a:hover {
          text-decoration: none;
          color: $color-primary-dark;
     }
}

#dec-button, #inc-button {
     cursor: pointer;
}

.wprm-overlay {
     display:none;
}